:root {
  --full-height: 100vh;
  --sidepanels-width-normal: 250px;
  --sidepanel-left-margin: 20px;
  --medium-size: 512px;
  --topbar-height: 58px;
  --radius-smaller: 1px;
  --radius-small: 2px;
  --radius-normal: 4px;
  --radius-large: 6px;
  --spacing-smaller: 3px;
  --spacing-small: 6px;
  --spacing-xsmall: 8px;
  --spacing-normal: 12px;
  --spacing-medium: 16px;
  --spacing-large: 20px;
  --spacing-larger: 24px;
  --spacing-xlarger: 32px;
  --spacing-enormus: 40px;
  --font-size-normal: 13px;
  --font-weight-medium: 500;
  --shade-100: #232529;
  --shade-60: #282a2f;
  --shade-50: #2d2f34;
  --shade-45: #3f434a;
  --shade-40: #5e646e;
  --shade-30: #6a707c;
  --shade-20: #acb1b9;
  --shade-10: #d8dadf;
  --shade-05: #ecedef;
  --shade-00: #f1f2f4;
  --blue-100: #dbeafe;
  --blue-30: #1668e3;
  --blue-20: #0a4ecd;
  --blue-10: #0d3c82;
  --red-30: #da2f2f;
  --red-20: #e64d4d;
  --red-10: #f26e6e;
  --red-05: #ffd9d9;
  --white: #f5f6f7;
  --black: #1d1e20;
  --green: rgb(35, 217, 145);
}

.welcome {
  height: 100vh;
  background-color: #f3f4f6;
  overflow: auto;
  /* display: flex; */
}

.messages > div[timer="1"] {
  animation: cssAnimation 0s 1s forwards;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  opacity: 0; 
}

.messages > div[timer="2"] {
  animation: cssAnimation 0s 2s forwards;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  /* animation-delay: 1s; */
  opacity: 0; 
}

.messages > div[timer="3"] {
  animation: cssAnimation 0s 3s forwards;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  /* animation-delay: 2s; */
  opacity: 0; 
}

.messages > div[timer="4"] {
  animation: cssAnimation 0s 4s forwards;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  /* animation-delay: 3s; */
  opacity: 0; 
}

@keyframes cssAnimation {
  to   { opacity: 1; }
}

.botname {
  margin-top: var(--spacing-normal);
}

.brand {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.75rem;
}

.banner .message {
  padding: 0;
  margin: 0 var(--spacing-small) var(--spacing-small);

}

.banner .chat {
  border-left: 0px;
}

.bot1.botname {
  color: var(--green)
}
.bot1.message.received .text {
  background-color: var(--green)
}
.bot1.message.received .text:after {
  border-color: var(--green) transparent transparent transparent
}

.bot2.botname {
  color: rgba(109,40,217)
}
.bot2.message.received .text {
  background-color: rgba(109,40,217)
}
.bot2.message.received .text:after {
  border-color: rgba(109,40,217) transparent transparent transparent
}

.banner a {
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 20px;
  border: solid 1px var(--blue-30);
  border-radius: 10px;
  color: var(--blue-30);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  transition-property: background-color,border-color,color,fill,stroke;
  font-weight: bold;
}

.banner a:hover {
  box-shadow: 0 0 0 2px var(--blue-20);
  background-color: var(--blue-30);
  color: var(--shade-00);
  border-color: var(--shade-00);
}

.banner .actions {
  margin-top: 30px;
}

.banner .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  margin-right: 0px;
}

.banner .right {
  display: flex;
  justify-content: center;
}

.banner {
  max-width: 1000px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: black;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.banner .message .text {
  color: var(--shade-00);
}

.banner h1 {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 20px;
}

.banner h1,h2 {
  text-align: center;
  max-width: 580px;
}

.left {
  display: flex;
  align-items: center;
}

.bottom {
  display: flex;
  align-items: flex-end;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flexbox {
  display: flex;
}


.chat[reveal="true"] {
  /* transform: translateX(0); */
  display: flex;
  /* width: 500px */
}

.chat[reveal="false"] {
  /* transform: translateX(100%); */
  display: none;
  /* width: 0px */
}

.chat {
  /* background-color: red; */
  /* position: absolute;
  top:0;
  left: 0;
  z-index: 20; */
  border-left: 1px solid var(--shade-30);
  width: 300px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.chat .quit {
  padding: var(--spacing-smaller) var(--spacing-small);
}

.chat textarea {
  min-height: 75px;
  font: inherit;
  appearance: none;
  outline: none;
  resize: none;
  margin-bottom: 0px;
  padding: var(--spacing-small);
  /* padding-bottom: var(--spacing-small);
  padding-top: var(--spacing-small); */
  line-height: var(--line-height-normal);
  border: none;
  border-top: solid 1px var(--shade-30);
  resize: none;
  color: var(--shade-05);
  background: none;
  background-color: var(--shade-50);
}

.messages {
  scroll-behavior: smooth;
}

.message {
    word-break: keep-all;
    overflow-wrap: break-word;
}

.message img {
  height: 40px;
  border-radius: 50%;
}

.message {
  padding: var(--spacing-small) var(--spacing-normal) 
}

.message .text {
  position: relative;
  /* flex: ; */
  padding: var(--spacing-small) var(--spacing-normal);
}

.message.sent .text {
  text-align: right;
  border-radius: 16px 0px 16px 16px;
  background-color: var(--blue-30);
}

.message.received .text {
  border-radius: 0px 16px 16px 16px;
  background-color: var(--shade-40);
}

/* Right triangle placed top right flush. */
.message.sent .text:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
}
.message.sent .text:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -10px;
  top: 0px;
	bottom: auto;
	border: 15px solid;
	border-color: var(--blue-30) transparent transparent transparent;
}

/* Right triangle placed top left flush. */
.message.received .text:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
}
.message.received .text:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -10px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 15px solid;
	border-color: var(--shade-40) transparent transparent transparent;
}
.notification {
  margin-top: var(--spacing-normal);
  margin-bottom: var(--spacing-normal)
}
.text-xs {
  font-size: calc(10px + 0.2vmin);
  line-height: 1rem;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.mt-medium {
  margin-top: var(--spacing-medium);
}

.ml-smaller {
  margin-left: var(--spacing-smaller);
}

.ml-small {
  margin-left: var(--spacing-small);
}

.ml-normal {
  margin-left: var(--spacing-normal);
}

.mb-small {
  margin-bottom: var(--spacing-small);
}

.mb-normal {
  margin-bottom: var(--spacing-normal);
}

.mb-xlarger {
  margin-bottom: var(--spacing-xlarger);
}

.mb-medium {
  margin-bottom: var(--spacing-medium);
}

.mr-normal {
  margin-right: var(--spacing-normal);
}

.mr-small {
  margin-right: var(--spacing-small);
}

.mr-smaller {
  margin-right: var(--spacing-smaller);
}

@media (min-width: 912px) {
  .banner {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5rem;
    padding-right: 5rem;
    flex-direction: row;
    align-items: center;
  }

  .banner h1 {
    font-size: 3.125rem;
    line-height: 1.25;
  }

  .banner h1,h2 {
    text-align: left;
  }

  .banner .left {
    flex: 1;
    align-items: flex-start;
    margin-bottom: 0px;
    margin-right: 2rem;
  }

  .banner .chat {
    /* border-left: 1px solid var(--shade-30); */
  }
}


/* md:text-6xl text-3xl font-medium md:leading-tight text-center md:text-left */
/* @media (min-width: 768px) {
  .md\:leading-tight {
    line-height: 1.25;
  }

  .md\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .md\:text-left {
    text-align: left;
  }
}

.font-medium {
  font-weight: 500;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-center {
  text-align: center;
} */